<div class="wrapper">
  <mat-toolbar>
    <span>Picsou App</span>
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="onTabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">list</mat-icon> -->List
      </ng-template>
      <app-expense [showExpense]="isOpen"></app-expense>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <!-- <mat-icon class="example-tab-icon">add</mat-icon> -->Add
      </ng-template>
      <app-add-expense></app-add-expense>
    </mat-tab>
  </mat-tab-group>
</div>