<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <title>Picsou App</title>
  </head>
  <body>
    <div class="wrapper">
    <mat-toolbar>
        <span>Picsou App</span>
      </mat-toolbar>
      <mat-tab-group>
        <mat-tab label="List">
          <app-expense></app-expense>
        </mat-tab>
        <mat-tab label="Add">
          <app-add-expense></app-add-expense>
        </mat-tab>
      </mat-tab-group>
    </div>
  </body>
</html>
